header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: violet; 
    font-size: large;  
}

header a:hover{
    text-decoration: none;
}

header p{
    color: black;
    font-size: large;
}

body {
    background-color: white;
}

#prompt{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

#buttons{
    display: flex;
    flex-direction: column;
}


.answer{
    color: white;
    font-size: large;
    background-color: purple;
    border-radius: .5em;
    margin: .5em 30em;

}

#info{
    display: flex;
    justify-content: center;
}

#grade{
    margin: .5em 30em;
}
